* {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: #9162ac;
    box-sizing: border-box;
}

body{
    background-image: url("../images/background.png");
    background-position: center;
    background-size: cover;
    font-size: 10px;
}

button{
    background-color: #fdfdfd;
    color: #9162ac;
    border: 2px solid  #3c4299;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover{
    background-color: #9162ac;
    color: #fdfdfd;
}

button i{
    color: #9162ac;
    font-weight: bold;
    pointer-events: none;
}

button:hover > i{
    color: #fff;
}

input, select{
    padding: 0.25rem 0.5rem;
}

.hide{
    display: none;
}

.todo-container{
    max-width: 450px;
    margin: 3rem auto 0;
    background-color: #fdfdfd;
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-container header{
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form, #edit-form{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p, #edit-form p{
    margin-bottom: .5rem;
    font-weight: bold;
    text-align: center;
}

.form-control{
    display: flex;
}

.form-control input{
    margin-right: 0.3rem;
}

#cancel-edit-btn{
    margin-top: 1rem;
}

#toolbar{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4{
    margin-bottom: .5rem;
}


.todo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: .3s;
}

.todo h3{
    flex: 1;
    font-size: 0.9rem;
}

.todo button{
    margin-left: 0.4rem;
}

.done{
    background-color: #9162ac;
}

.done h3{
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}

input::placeholder {
    font-size: 10px;
    text-align: center;
}

@media screen and (max-width: 685px) {
    .todo-container{
        display: block;
        width: 300px;
    }

    #todo-input, #edit-input{
        display: block;
        width: 65%;
        font-size: 10px;

    }

    #cancel-edit-btn{
        font-size: 10px;
        width: 65%;

    }

    .todo h3{
        font-size: 10px;
    }

  }

